@charset "UTF-8";
body {
  font-family: "Muller";
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}

h5 {
  font-size: 14px;
  font-weight: normal;
}

h6 {
  font-size: 13px;
}

.center {
  padding: 0 calc(50% - 608px);
}

.modal {
  width: calc(100% - 30px);
  max-width: 380px;
  padding: 28px 20px 22px;
  position: fixed;
  top: 100px;
  left: calc(50% - 187px);
  z-index: 10;
  border-radius: 12px;
  background-color: #fff;
}

.modal__cross {
  position: absolute;
  top: 17px;
  right: 17px;
  cursor: pointer;
}

.modal .callback {
  padding: 0;
}

.modal .callback__text {
  max-width: 304px;
  margin-top: 0 !important;
  margin-bottom: 0;
  text-align: left;
}

.modal .callback__input, .modal .callback__submit {
  max-width: none;
}

@media (max-width: 411px) {
  .modal {
    left: 15px;
  }
}

.hidden {
  display: none;
}

#blur-container {
  background-color: #fff;
}

.blur {
  filter: brightness(30%);
  transition: all 0.5s;
}

.no-blur {
  filter: brightness(100%);
  transition: all 0.5s;
}

.disabled {
  pointer-events: none;
}

.button {
  display: block;
  padding: 18px 0;
  background-color: #2F80ED;
  border-radius: 8px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  max-width: 384px;
}

.button:hover {
  box-shadow: 4px 12px 40px rgba(47, 128, 237, 0.35);
}

.title {
  text-align: center;
  margin-top: 96px;
}

.title h2 {
  max-width: 1008px;
  margin: auto;
}

.title p {
  margin-top: 30px;
  font-size: 20px;
  color: #4F4F4F;
}

.attention {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px;
  background-color: #FFCF10;
  border-radius: 12px;
}

.attention img {
  margin-right: 31px;
}

.attention p {
  max-width: 784px;
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 12px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  margin-right: 38px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right .phone {
  font-size: 24px;
  font-weight: 500;
  margin-right: 32px;
}

.header__right .call-button {
  font-size: 16px;
  color: #2F80ED;
  padding: 4px 40px;
  border: 2px solid #2F80ED;
  border-radius: 8px;
  padding-top: 7px;
  margin-top: -5px;
}

.header__right .call-button:hover {
  box-shadow: 4px 0px 28px rgba(47, 128, 237, 0.35);
}

.header__right .call-button_img {
  display: none;
}

.header_footer {
  margin-top: 96px;
  padding: 40px;
  background: #F2F2F2;
  border-radius: 12px;
}

.preview {
  display: flex;
  justify-content: space-between;
}

.preview > h1 {
  display: none;
}

.preview__left {
  width: 60%;
}

.preview__left h1 {
  margin-top: 64px;
}

.preview__left > p {
  margin-top: 63px;
  font-size: 28px;
  color: #4F4F4F;
}

.preview__left .stars {
  margin-top: 105px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-row-gap: 30px;
  grid-column-gap: 10px;
}

.preview__left .stars__block {
  display: flex;
  align-items: center;
}

.preview__left .stars__block img {
  margin-right: 12px;
}

.preview__left h5 {
  margin-top: 95px;
  margin-bottom: 10px;
  color: #4F4F4F;
}

.preview__left .girl_mob {
  display: none;
}

.preview__right {
  width: 33.33%;
}

.condition {
  margin-top: 52px;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr/ 1fr 1fr;
  grid-gap: 40px 32px;
}

.condition__block {
  position: relative;
  text-align: center;
  padding: 50px 15px 15px 15px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}

.condition__number {
  position: absolute;
  top: -1px;
  left: calc(50% - 36px);
  font-size: 48px;
  font-weight: 700;
  color: #2F80ED;
  line-height: 0px;
  width: 72px;
  height: 36px;
  background-color: #fff;
  border-radius: 0 0 72px 72px;
  border-bottom: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  font-family: 'PT Serif';
  z-index: 11;
}

.stages {
  margin-top: 43px;
  display: flex;
}

.stages__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stages__left p {
  font-size: 20px;
}

.stages__number {
  display: flex;
  align-items: center;
}

.stages__num {
  padding: 0 12px;
  padding-top: 4px;
  color: #2F80ED;
  font-size: 36px;
  font-weight: 700;
}

.stages__num + img {
  transform: rotate(180deg);
}

.stages__right {
  width: 60%;
}

.callback__text {
  text-align: center;
  margin-bottom: 11px;
  font-size: 20px;
}

.callback__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.callback__input {
  margin-top: 14px;
}

.callback__input p {
  font-size: 16px;
}

.callback__input input {
  margin-top: 10px;
  padding: 14px 24px;
  border: 1px solid #828282;
  border-radius: 8px;
  width: 100%;
  max-width: 384px;
  line-height: 22px;
  font-size: 16px;
}

.callback__input input::placeholder {
  font-size: 16px;
  color: #BDBDBD;
}

.callback__submit {
  margin-top: 24px;
  max-width: 384px;
}

.callback__submit p {
  margin-top: 12px;
  text-align: center;
  font-size: 13px;
  line-height: 18px;
}

.callback__submit p a {
  color: #2F80ED;
}

.callback_max .callback__text {
  margin-top: 96px;
}

.callback_max .callback__block {
  margin-top: 50px;
  flex-direction: row;
}

.callback_max .callback__input {
  width: 32%;
}

.callback_max .callback__input input {
  padding: 24px;
}

.callback_max .callback__submit {
  width: 32%;
  margin-top: 41px;
}

.steps {
  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  margin-top: 45px;
}

.steps__block {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #FFCF10;
  border-radius: 4px;
  padding: 20px 16px;
  max-width: 280px;
}

.steps__number {
  position: absolute;
  left: 15px;
  top: -23px;
  padding: 0 10px;
  font-size: 36px;
  color: #2F80ED;
  font-weight: 700;
  font-family: 'PT Serif';
  z-index: 10;
  background-color: #fff;
}

.steps__text {
  font-size: 16px;
}

.presentation__timer {
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.presentation__timer img {
  margin-right: 16px;
}

.presentation__timer p {
  font-size: 20px;
  color: #2F80ED;
}

.presentation__block {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.presentation__left {
  width: 60%;
  max-width: 696px;
}

.presentation__left .thumb-wrap {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}

.presentation__left .thumb-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.presentation__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 384px;
}

.presentation__text {
  font-size: 16px;
}

.interview {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.interview h3 {
  font-weight: 500;
}

.interview__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 728px;
  width: 75%;
}

.interview__blocks {
  margin-top: 34px;
}

.interview__block {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.interview__block img {
  margin-right: 12px;
}

.interview__block p {
  font-size: 20px;
}

.interview__right {
  max-width: 384px;
}

.contacts {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.contacts__left {
  margin-right: 52px;
  max-width: 384px;
}

.contacts__text {
  margin-top: 46px;
  padding: 20px 52px 16px 52px;
  background: #FFCF10;
  border-radius: 12px;
}

.contacts__text p {
  margin-top: 29px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.contacts__text p:first-child {
  margin-top: 0;
}

.contacts__right {
  width: 780px;
  max-width: 780px;
  border-radius: 12px;
}

@media (max-width: 1200px) {
  .center {
    padding: 0 calc(50% - 366px);
  }
  .header .call-button {
    display: none;
  }
  .header .call-button_img {
    display: block;
    margin-bottom: 6px;
  }
  .header_footer h5 {
    max-width: 180px;
  }
  .preview {
    display: block;
    width: 100%;
    background-image: url(../img/YellowGirl.png);
    background-repeat: no-repeat;
    background-position: 112% 105%;
    background-size: 392px 681px;
  }
  .preview > h1 {
    display: block;
    margin-top: 60px;
  }
  .preview__left {
    width: 66%;
  }
  .preview__left h1 {
    display: none;
  }
  .preview__left > p {
    margin-top: 68px;
  }
  .preview__left .stars {
    margin-top: 80px;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    grid-row-gap: 30px;
  }
  .preview__left h5 {
    margin-top: 85px;
  }
  .preview__right {
    display: none;
  }
  .preview .stars, .preview h5, .preview .button {
    max-width: 312px;
  }
  .condition {
    margin-top: 46px;
    grid-gap: 40px 24px;
  }
  .stages {
    flex-direction: column;
  }
  .stages__left {
    align-items: center;
  }
  .stages__number {
    justify-content: center;
  }
  .stages p {
    text-align: center;
    max-width: 564px;
  }
  .stages__block {
    margin-top: 32px;
  }
  .stages__right {
    width: 100%;
    margin-top: 40px;
  }
  .callback__text {
    margin-top: 40px !important;
    margin-bottom: 50px;
  }
  .callback__block {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .callback__block > div {
    flex-basis: 354px;
  }
  .callback__input input {
    padding: 24px;
  }
  .callback__submit {
    margin: 24px auto 0;
  }
  .steps {
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 40px 24px;
  }
  .steps__block {
    max-width: none;
  }
  .presentation__timer {
    margin-top: 24px;
  }
  .presentation__block {
    flex-direction: column;
  }
  .presentation__left {
    width: 100%;
    max-width: none;
  }
  .presentation__right {
    margin: 35px auto 0;
    max-width: 394px;
  }
  .presentation__text {
    margin-bottom: 33px;
  }
  .interview {
    flex-direction: column;
  }
  .interview__left {
    width: 100%;
  }
  .interview__right {
    max-width: none;
  }
  .contacts {
    flex-direction: column;
  }
  .contacts__left {
    max-width: none;
    width: 100%;
  }
  .contacts .callback__submit .button {
    padding: 27px;
  }
  .contacts__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contacts__text p {
    flex-basis: 192px;
    margin-top: 0;
  }
  .contacts__right {
    width: 100%;
    height: 674px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  h1, h2 {
    font-size: 28px;
  }
  .center {
    padding: 0 15px;
  }
  .title {
    margin-top: 80px;
  }
  .title p {
    font-size: 16px;
    margin-top: 12px;
  }
  .attention {
    align-items: flex-start;
    padding: 20px;
  }
  .attention img {
    margin-right: 16px;
  }
  .attention p {
    font-size: 16px;
  }
  .header .phone, .header h5 {
    display: none;
  }
  .header_footer {
    padding: 40px 32px;
    flex-direction: column;
    margin-top: 40px;
  }
  .header_footer .phone, .header_footer .call-button, .header_footer h5 {
    display: block;
  }
  .header_footer .phone {
    margin-top: 40px;
    margin-right: 0;
  }
  .header_footer .header__left {
    justify-content: space-between;
  }
  .header_footer .header__left img {
    margin-right: 36px;
  }
  .header_footer .header__right {
    flex-direction: column;
  }
  .header_footer .call-button {
    margin-top: 20px;
  }
  .header_footer .call-button_img {
    display: none;
  }
  .preview {
    background-image: none;
  }
  .preview h1 {
    margin-top: 30px;
    text-align: center;
  }
  .preview__left {
    width: 100%;
  }
  .preview__left p {
    margin-top: 12px;
    font-size: 16px;
    text-align: center;
  }
  .preview__left .girl_mob {
    display: block;
    max-width: 284px;
    margin: 22px auto 0;
  }
  .preview__left h5 {
    margin-top: 32px;
    text-align: center;
    max-width: none;
  }
  .preview__left .button {
    max-width: none;
  }
  .preview .stars {
    margin: auto;
    margin-top: 16px;
    max-width: 265px;
    grid-row-gap: 16px;
  }
  .preview .stars__block {
    flex-direction: column;
  }
  .condition {
    margin-top: 40px;
    grid-template: repeat(8, 1fr)/1fr;
  }
  .stages {
    margin-top: 0;
  }
  .stages__block {
    margin-top: 20px;
  }
  .stages__block p {
    font-size: 16px;
  }
  .stages__right {
    display: none;
  }
  .callback {
    padding: 0 20px;
  }
  .callback__text {
    margin-top: 80px !important;
    margin-bottom: 50px;
    font-size: 16px;
  }
  .callback__block {
    margin-top: 20px !important;
    flex-direction: column !important;
    align-items: center;
  }
  .callback__block > div {
    flex-basis: content;
  }
  .callback__input {
    width: 100%;
    max-width: 304px;
  }
  .callback__input p {
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
  }
  .callback__input input {
    max-width: none;
    max-height: 52px;
  }
  .callback__submit {
    margin-top: 24px !important;
    max-width: 304px;
  }
  .callback_max .callback__text {
    margin-bottom: 20px;
  }
  .callback_max .callback__submit, .callback_max .callback__input {
    width: 100% !important;
  }
  .steps {
    grid-template: repeat(4, 1fr)/1fr;
  }
  .steps__block {
    padding-left: 69px;
  }
  .presentation__timer p {
    font-size: 14px;
  }
  .presentation__text {
    font-size: 14px;
  }
  .presentation .button {
    padding: 27px 0;
  }
  .interview {
    margin-top: 20px;
  }
  .interview h3 {
    text-align: center;
    font-size: 16px;
  }
  .interview__blocks {
    margin-top: 20px;
  }
  .interview__block p {
    font-size: 16px;
  }
  .interview .callback__text {
    margin-top: 40px !important;
  }
  .contacts {
    margin-top: 0;
  }
  .contacts .callback__text {
    margin-top: 20px !important;
  }
  .contacts__text {
    flex-direction: column;
  }
  .contacts__text p {
    margin-top: 30px;
    flex-basis: content;
  }
  .contacts__right {
    min-height: 800px;
  }
}
